# Notification Service
PORT=3006
KAFKA_BROKERS=localhost:9092
REDIS_URL=redis://localhost:6379
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=change_me
SMTP_PASS=change_me
EMAIL_FROM=noreply@ecommerce.local
